@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Spartan:700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.container{
	width: 97%;
	height: 100vh;
	margin: 0 auto;
	background: rgb(189, 210, 220);
	border-radius: 1%;
	display: grid;
	grid-gap: 2.5em 2em;
	font-family: 'Work Sans', arial;
	padding: 2.5%;
	grid-template: 1fr 1fr / 1fr 1fr 1fr;
}
.container > div{
	background: white;
	border-radius: 2%;
	display: grid;
	grid-template: 45% 10% 30% 15% / 1fr; 
}
h3{
	text-align: center;
	font-weight: bolder;
	font-family: 'Spartan', arial;
	line-height: 1.5em;
}
.p{
	padding: 10%;
	text-align: center;
	font-size: 0.8em;
	line-height: 1.5em;
}
.dots{
	display: flex;
	justify-content: center;
	align-items: center;
}
.img{
	display: flex;
	align-items: center;
	justify-content: center;
}
.dots > img{
	width: 10px;
	height: 10px;
	margin: 0.1em;
}
@media screen and (max-width: 900px){
	.container{
		grid-template: 1fr 1fr 1fr / 1fr 1fr;
	}
}
@media screen and (max-width: 600px){
	.container{
		height: 100%;
		grid-template: 50vh 50vh 50vh 50vh 50vh 50vh / 1fr;
	}
}
